<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="sphere" level="ERROR"/>
    <logger name="io.sphere" level="ERROR"/>
    <logger name="com.ning.http.client" level="ERROR"/>
    <logger name="org.asynchttpclient" level="ERROR"/>
    <logger name="org.javamoney.moneta.DefaultMonetaryContextFactory" level="ERROR"/>
    <logger name="DefaultMonetaryContextFactory" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>