logs
project/project
project/target
target
legacyTarget
tmp
.history
dist
.DS_Store
.idea/
.idea_modules/
*.iml
.settings/
plugins-ide.sbt
*~
files
*/debian/sphere-cli-*
.*.swp
*.substvars
*.log
*.dsc
*.deb
*.tgz
*.gz
*.changes

java-client/.classpath

java-client/.project

play-sdk/.classpath

play-sdk/.project

.project

.classpath

integrationtest.properties
.secrets
.java-version
