language: java
jdk:
  - oraclejdk8
cache:
  directories:
  - $HOME/.m2
script:
  - ./mvnw clean test verify javadoc:aggregate -P javadoc-jdk-8u121
  - ./mvnw exec:java -pl commercetools-internal-docs -Dexec.mainClass="introspection.rules.RulesMain" -Dexec.classpathScope="test"
  - ./mvnw exec:java -pl commercetools-models -Dexec.mainClass="io.sphere.sdk.client.MainMethodThreadLeakTest" -Dexec.classpathScope="test"
env:
  global:
  - secure: NtzrTSpGRmHIeK+Ojhv/xrHE+3k2iq36MnS04hwoJJRtlA1sSCs6Wrw+JKWcIfdscPSxqCZy9UkLVUvSm05Qav4mcsDhQ/hdHc7htqT1+mQ1bFs0HdvYUGJsYpL1yV/fd9vZPBKyfbkIPv4+5luYhbGUG5+0mv8PflcO+rCDGH8=
notifications:
  email:
    on_success: change
    on_failure: change
