@(facet: io.sphere.client.facets.Facet[_],
  result: io.sphere.client.model.SearchResult[_]
)

@(
  // Play views don't support generic arguments.
  // That's why we have a separate facet view for each type of facet.
  // see https://groups.google.com/forum/?fromgroups=#!topic/play-framework/gHHis5vySk4
  // see http://stackoverflow.com/questions/10738182/when-using-a-generic-controller-how-to-return-a-view-inherent-to-a-specific-con
)

@import customizable._    // customizable facets
@import io.sphere.client.facets._

@(if(facet.isInstanceOf[TermFacet]) {
    termFacet(facet.asInstanceOf[TermFacet], result)()

} else if(facet.isInstanceOf[RangeFacet]) {
    rangeFacet(facet.asInstanceOf[RangeFacet], result)()

} else if(facet.isInstanceOf[MoneyRangeFacet]) {
    moneyRangeFacet(facet.asInstanceOf[MoneyRangeFacet], result)()

} else if(facet.isInstanceOf[DateTimeRangeFacet]) {
    dateTimeRangeFacet(facet.asInstanceOf[DateTimeRangeFacet], result)()
})
