nav.table-of-contents { margin-top: 12px; }
nav.table-of-contents li { padding-top: 6px; list-style: disc inside; }

.new-in-release, .change-in-release, .removed-in-release, .fixed-in-release {
    border-left-width: 6px;
    border-left-style: solid;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.new-in-release:before { content:"  NEW: "; }
.new-in-release { background-color: #c9ffa3; border-left-color: #23bb03; }

.removed-in-release { background-color: #F8DFD8; border-left-color: red; }
.removed-in-release:before { content:"  REMOVED: "; }

.change-in-release { background-color: #f8eba2; border-left-color: #ffff09; }
.change-in-release:before { content:"  CHANGE: "; }

.fixed-in-release { background-color: #c2d9f8; border-left-color: #3640ff; }
.fixed-in-release:before { content:"  FIXED: "; }

table.custom, table.custom th, table.custom td {
    border: 1px solid black;
    border-collapse: collapse;
}