nav.table-of-contents { margin-top: 12px; }
nav.table-of-contents li { padding-top: 6px; list-style: disc inside; }

.new-in-release, .change-in-release, .removed-in-release, .fixed-in-release {
    border-left-width: 6px;
    border-left-style: solid;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.new-in-release:before { content:"  NEW: "; }
.new-in-release { border-left-color: #23bb03; }

.removed-in-release { border-left-color: red; }
.removed-in-release:before { content:"  REMOVED: "; }

.change-in-release { border-left-color: #F8981D; }
.change-in-release:before { content:"  CHANGE: "; }

.fixed-in-release { border-left-color: #3640ff; }
.fixed-in-release:before { content:"  FIXED: "; }

table.custom, table.custom th, table.custom td {
    border: 1px solid black;
    border-collapse: collapse;
}

.theme-img {
    padding: 2em;
    border: 2px solid #4A6782;
    margin-bottom: 0.5em;
    display: block;
}

.image-caption {
    color: #7E7E7E;
}

.expand-all {
    border: none;
    background: #4D7A97;
    color: #FFF;
    margin-bottom: 2em;
    padding: 0.5em 1em;
}

.show-more {
    font-size: 1em;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: 0;
}

.show-more-rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.release-notes ul li {
    list-style: none;
    margin-bottom: 0.2em;
}

/* GettingStarted */

.undefined {
    background: #DEE3E9;
}

.theme-btn, .reveal-imports, a.theme-btn {
    border-radius: 0;
    background: #4D7A97;
    color: #FFF;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

a.theme-btn:hover, a.theme-btn:hover, .reveal-imports:hover, .reveal-imports:focus {
    color: #F8981D;
}

.test-code-hidden {
    background: #F0F0F0;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: none;
}

td, th {
    padding: 0.7em;
    background: #DEE3E9;
}

th {
    background: #4D7A97;
    color: #FFF;
}

th.colFirst, th.colLast, th.colOne {
    background: #4D7A97;
}

tr {
    border: 2px solid white;
}

.code-example {
    background: #f0f0f0;
}

.code-example p {
    padding-bottom: 1em;
}
