@(facet: de.commercetools.sphere.client.FacetDefinition[_],
  results: de.commercetools.sphere.client.model.SearchResult[_]
)

@(
  // Play views don't support generic arguments.
  // That's why we have a separate facet view for each type of facet.
  // see https://groups.google.com/forum/?fromgroups=#!topic/play-framework/gHHis5vySk4
  // see http://stackoverflow.com/questions/10738182/when-using-a-generic-controller-how-to-return-a-view-inherent-to-a-specific-con
)

@import customizable._    // customizable facets
@import de.commercetools.sphere.client._

@(if(facet.isInstanceOf[TermsFacetDefinition]) {
    termsFacet(facet.asInstanceOf[TermsFacetDefinition], results)()

} else if(facet.isInstanceOf[RangeFacetDefinition]) {
    rangeFacet(facet.asInstanceOf[RangeFacetDefinition], results)()

} else if(facet.isInstanceOf[DateRangeFacetDefinition]) {
    dateRangeFacet(facet.asInstanceOf[DateRangeFacetDefinition], results)()
})