@(facet: de.commercetools.sphere.client.RangeFacetDefinition,
  results: de.commercetools.sphere.client.model.SearchResult[_],
  queryString: Map[String, Array[String]]
)

@defining(results.getFacet(facet)) { facetData =>
  @if(facetData != null) {
    <ul class="facet unstyled">
      @for(item <- facetData.getItems) {
        @if(item.getCount > 0) {
          <li>
            <a href="@facet.getSelectLink(item, queryString)" @if(facet.isSelected(item, queryString)) { class="selected" } >
              @item.getFrom - @item.getTo
            </a>
            <span class="count">(@item.getCount)</span>
            @if(facet.isSelected(item, queryString)) {
              <a href="@facet.getUnselectLink(item, queryString)" class="remove">x</a>
            }
          </li>
        }
      }
    </ul>
  }
}