@(facet: de.commercetools.sphere.client.TermsFacetDefinition,
  results: de.commercetools.sphere.client.model.SearchResult[_],
  queryString: Map[String, Array[String]]
)

@defining(results.getFacet(facet)) { facetData =>
  @if(facetData != null) {
    <ul class="facet unstyled">
      @for(item <- facetData.getItems) {
        <li class="item">
          <a href="@facet.getSelectLink(item, queryString)" @if(facet.isSelected(item, queryString)) { class="selected" }>
            @item.getValue
          </a>
          <span class="count">(@item.getCount)</span>
          @if(facet.isSelected(item, queryString)) {
            <a href="@facet.getUnselectLink(item, queryString)" class="remove">x</a>
          }
        </li>
      }
      @if(facetData.getMissingValueCount > 0) {
        <li>(other: @facetData.getMissingValueCount)</li>
      }
    </ul>
  }
}