@(current: Category, subcategories: List[Category], products: List[Product], filterForm: Form[util.ProductFilter])

@import util.CategorySDK
@import helper._
@import helper.twitterBootstrap._

  
@main(current) {

	<div class="span2">
		<ul class="nav nav-pills nav-stacked">
	@for(subcategory <- subcategories) {
		@if(subcategory.getId() == current.getId()) {
			<li class="active">
		} else {
			<li>
		}
				<a href="@routes.CategoryController.select(CategorySDK.getPath(subcategory))">
					@subcategory.getName()
				</a>
			</li>
	}
		</ul>
		<div>
		@form(action = routes.CategoryController.select(CategorySDK.getPath(current))) {
			<fieldset>
				<legend>Filter options</legend>
				@inputText(filterForm("minPrice"), '_label -> "Minimum Price")
				@inputText(filterForm("maxPrice"), '_label -> "Maximum Price")
			</fieldset>
			<input type="submit" class="btn primary" value="Filter" />
			}
		</div>
	</div>
	<div class="span9 offset1">
		@showproducts(current, products)
	</div>
	
}