@(current: Category, product: String)

@import util.CategorySDK;


@showallcategories(current)

<ul class="breadcrumb">
	<li>
		<a href="/shop">Home</a>
		<span class="divider">&#187;</span>
	</li>
	@for(category <- current.getAncestors()) {
		@if(!CategorySDK.isRoot(category.get())) {
			<li>
				<a href="@routes.CategoryController.select(CategorySDK.getPath(category.get(), current.getAncestors()))">
					@category.get().getName()
				</a>
				<span class="divider">&#187;</span>
			</li>
		}
	}
@if(product.isEmpty()) {
	<li class="active">@current.getName()</li>
} else {
    <li>
		<a href="@routes.CategoryController.select(CategorySDK.getPath(current))">
			@current.getName()
		</a>
		<span class="divider">&#187;</span>
	</li>
    <li class="active">@product</li>
}
</ul>