@(current: Category, products: List[Product])

@import util.ProductSDK;


<h3>@current.getName()</h3>
<ul class="thumbnails">
@for(product <- products) {
	<li class="span3">
		<div class="thumbnail">
            <img src="@ProductSDK.getMainImageURL(product)" alt=""/>
			<div>
                <div class="pull-right">
                    <h6>@product.getPrice()</h6>
                </div>
                <h6>
					<a href="@routes.ProductController.show(product.getSlug(), current.getSlug())">
						@product.getName()
					</a>
				</h6>
       		</div>	
       	</div>
	</li>
}
</ul>
 
